@model TrabajoFinalLaboratioIV.Models.Alumno

@{
    ViewData["Title"] = "Nuevo Alumno";
}

<h1>Crear Alumno</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inscripcion" class="control-label"></label>
                <input asp-for="Inscripcion" class="form-control" />
                <span asp-validation-for="Inscripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="fechaNac" class="control-label"></label>
                <input asp-for="fechaNac" class="form-control" />
                <span asp-validation-for="fechaNac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actividadId" class="control-label"></label>
                <select asp-for="actividadId" class ="form-control" asp-items="ViewBag.ActividadList"></select>
            </div>
            <div class="form-group">
                <label asp-for="turnoId" class="control-label"></label>
                <select asp-for="turnoId" class ="form-control" asp-items="ViewBag.TurnoList"></select>
            </div>
            <div class="form-group">
                <img src= "" id="imagen" style="max-width:50px" />
                <label asp-for="foto" class="control-label"></label>
                <input name="seleccionImg" id="seleccionImg" type="file" accept="image/jpeg" />
                <span asp-validation-for="foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cargar alumno" class="btn btn-primary" />
                <button asp-action="Index" class=" btn bg-dark "><a asp-action="Index" class="text-white" style="list-style:none">Volver a la lista</a></button>

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
